/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap'); */

.link-mobile-applications {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.google-play-wrapper {
	border: 1px solid rgb(255, 255, 255, 1);
	border-radius: 10px;
	width: 240px;
	height: 70px;

	/* <uniquifier>: Use a unique and descriptive class name */
	/* <weight>: Use a value from 100 to 900 */
	font-family: "Kumbh Sans", sans-serif;
	font-optical-sizing: auto;
	/* font-weight: <weight>; */
	font-style: normal;
	font-variation-settings:
		"YOPQ" 300;

	display: flex;
}

/* ----- white-text ----- */
.white-text {
	color: rgb(255, 255, 255, 1);
}

/* ----- black-text ----- */
.black-text {
	color: rgb(0, 0, 0, 1);
	background: rgb(255, 255, 255, 1);
}

/* ----- end color text ----- */

.box-logo-google-play {
	height: 100%;
	aspect-ratio: 1 / 1;
	display: grid;
	place-content: center;
	padding: 5%;
}

.box-logo-google-play svg {
	width: 100%;
	height: 100%;
}

.box-text-google-play {
	width: 100%;
	display: grid;
	place-content: center left;
}

.text-get-in-on {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;

}

.text-google-play {
	font-size: 28px;
	font-weight: 600;
}